name: run tests, build & publish binaries

on:
  push:
    tags:
      - '*'

jobs:
  test:
    name: run tests
    uses: './.github/workflows/test.yml'

  release:
    name: build & release binaries
    needs: [test]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6

      - name: install Zig
        uses: mlugg/setup-zig@v2

      - name: install stable rustup toolchain
        run: rustup toolchain install stable --profile minimal
      - uses: Swatinem/rust-cache@v2
      - name: install cargo-zigbuild
        run: cargo install --locked cargo-zigbuild

      - uses: goreleaser/goreleaser-action@v6
        with:
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ github.token }}
